@import '../_variables.scss';

/* Container of the page */
.container {
    height: auto;
    min-height: 100vh;
    padding: $spacing-lg;
    background: white;
    max-width: 800px;
    margin: 0 auto;
}