@use "../variables" as *;

/* Header of the page */
.header {
    background-color: $color-bg-header;
    text-align: center;
    border-radius: $border-radius-md;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}
