@import '../_variables.scss';

.search-results-section {
    background-color: $color-bg-light-s;
    text-align: left;
    border-radius: $border-radius-md;
    margin: $spacing-xs;
    padding: $spacing-xs;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.data-loading-view {
    color: $color-blue;
    border: 1px solid $color-blue;
    display: inline-block;
    padding: $spacing-xs $spacing-md;
    margin: $spacing-md;
}

.data-load-error-view {
    border: 1px solid $color-error;
    color: $color-error;
    padding: $spacing-xs $spacing-md;
    margin: $spacing-md;
    display: inline-block;
}