// Brand Colors
// These are the main colors that define your application's visual identity.
// Changing these colors should affect the overall theme of your application.
$color-primary: #1969e1;
$color-secondary: #83a4d4; // Currently same as primary, can be changed later

// Utility Colors
// Basic, common colors used throughout the application.
// These are standard colors that aren't specific to your brand.
$color-blue: blue;
$color-white: white;
$color-blue-faded: #bfc7d5; // Temporary color for faded blue elements
$color-light-blue: #83a4d4; // #83a4d4 Light blue color for buttons and other UI elements
$color-orange-faded: #f2ddbe; // Temporary color for faded blue elements

// Semantic Colors
// These variables define how colors are used in specific contexts.
// They can be derived from either brand or utility colors.
$color-background: $color-blue-faded;
$color-title: $color-primary;
$color-subtitle: $color-title;
$color-text-author: $color-blue;
$color-text-comments: $color-blue;
$color-page-header: $color-orange-faded;
$color-button-bg: rgba($color-blue, 0.59);
$color-likes: rgb(165, 39, 1);

// Spacing
// Common spacing values used for margins, padding, and gaps
$spacing-xs: 0.25rem;
$spacing-sm: 0.3rem;
$spacing-md: 0.5rem;
$spacing-lg: 1rem;