/* PageTitle.module.scss */
@import '../styles/_variables.scss';

// todo rename PageTitle.jsx to PageTitles.js

.pageTitles {
    // todo rename to pageTitles
    margin: $spacing-xs;
    padding: $spacing-xs;
}

.title {
    font-size: $font-size-xxl;
    margin: $spacing-xs;
    color: $color-title;
}

.subtitle {
    font-size: $font-size-lg;
    font-weight: normal;
    color: $color-subtitle;
    margin: $spacing-xs;
}