/* PageTitle.module.scss */
@use "../styles/variables" as *;

// todo rename PageTitle.jsx to PageTitles.js

.pageTitles {
    // todo rename to pageTitles
    margin: $spacing-xs;
    padding: $spacing-xs;
}

.title {
    font-size: $font-size-xxl;
    margin: $spacing-xs;
    color: $color-title;
}

.subtitle {
    font-size: $font-size-md-p2;
    font-weight: 600;
    color: $color-text-dark;
    margin: $spacing-xs;
}
