@import '../styles/_variables.scss';

/**
 * ProjectItem component styles
 */ 

.projectItem {
    margin-bottom: .5rem;
    padding: $spacing-xs;
    //border: 1px solid red;

    &Title {
        margin-bottom: $spacing-xs;
        margin-top: $spacing-xs;
        color: $color-title;

        &Link {
            color: $color-title;
        }
    }
}

.byLabel {
    margin: 0 0.5rem;
}

.author {
    color: $color-subtitle;
    font-weight: bold;
}

.commentContainer {
    display: flex;
    align-items: center;
    font-size: $font-size-md;
    margin: 0.4rem 0;
    padding-left: 1rem;
}

.comments {
    color: $color-text-comments;
    font-weight: bold;
    padding: 0 0.25rem;
}

.likes {
    color: $color-likes;
    font-weight: bold;
    padding: 0 0.25rem;
}

.removePostButton {
    background-color: $color-button-bg;
    color: $color-text-light;
    padding: $spacing-xs $spacing-md;
    border: none;
    border-radius: $border-radius-sm;
    margin-left: 1rem;
} 