@import "../styles/_variables.scss";
@import "../styles/base/buttons.scss";

.projectItem {
    margin-bottom: $spacing-md;
    padding: $spacing-md;
    font-size: $font-size-sm;
    //border: 1px solid red;

    &Title {
        margin-bottom: $spacing-xs;
        margin-top: $spacing-xs;
        color: $color-title;
        font-size: $font-size-md-plus;
        &Link {
            color: $color-title;
        }
    }
}

.byLabel {
    margin: 0 0.5rem;
}

.author {
    font-weight: bold;
    font-size: $font-size-sm;
}

.commentContainer {
    display: flex;
    align-items: center;
    margin: 0.2rem 0;
    padding-left: $spacing-xs;
}

.comments {
    color: $color-text-comments;
    font-weight: bold;
    padding: 0 $spacing-xs;
}

.likes {
    color: $color-likes;
    font-weight: bold;
    padding: 0 $spacing-xs;
}

.removePostButton {
    @extend .button;
    @extend .button--primary;
    margin-left: 1rem;
    font-size: $font-size-sm;
    padding: $spacing-xs;
}
