@use "../styles/variables" as *;

.searchTermInput {
    display: flex;
    flex-direction: column;
    color: $color-text-light;
    background-color: $color-bg-light-l;
    padding: $spacing-sm;
    margin: $spacing-sm;
}

.searchTermInputLabel {
    font-size: $font-size-lg;
    margin-bottom: $spacing-sm;
}

.searchTermErrorMessage {
    font-style: italic;
}
