//import './styles/main.scss';
@import './styles/_variables.scss';



/* Container of the page */
.container {
    height: auto;
    min-height: 100vh;
    padding: $spacing-lg;
    background: $color-background;
    max-width: 800px;
    margin: 0 auto;
}

/* Header of the page */
.header {
    background-color: $color-page-header;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: .5rem;
    padding: .5rem;
}

/* Project item
todo Project item has currently different names.
 deprecated: tool-item, new: project-item
*/
.project-item {
    margin-bottom: .5rem;
}

.project-item-title {
    margin-bottom: 0.3rem;
    margin-top: 0.4rem;
}

/* Author */
.by-label {
    margin: 0 0.5rem;
}

.author {
    color: blue;
    font-weight: bold;
}

/* Likes and number of comments */
.comment-container {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin: 0.4rem 0;
    padding-left: 1rem;
}

.comments {
    color: blue;
    font-weight: bold;
    padding: 0 0.25rem;
}

.remove-post-button {
    background-color: rgba(0, 0, 255, 0.59);
    color: white;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

.likes {
    color: rgb(165, 39, 1);
    font-weight: bold;
    padding: 0 0.25rem;
}

.data-loading-view {
    color: $color-blue;
    border: 1px solid $color-blue;
    display: inline-block;
    padding: $spacing-xs $spacing-md;
    margin: $spacing-md;
}

.data-load-error-view {
    border: 1px solid red;
    color: red;
    padding: $spacing-xs $spacing-md;
    margin: $spacing-md;
    display: inline-block;
}