@import "./styles/_variables.scss";
@import "./styles/base/buttons.scss";
@import "./styles/base/typography.scss";

.container {
    height: auto;
    min-height: 100vh;
    padding: $spacing-lg;
    //background-color: $color-bg-light-s;
    //background:$color-bg-header; //white;
    max-width: 800px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    background-color: $color-bg-header;
    text-align: center;
    //margin-bottom: 0.125rem;
    padding: 0.5rem;
}

.main {
    background-color: $color-bg-light-s;
    text-align: left;
}

.searchInputSection {
    background-color: $color-bg-light-l;
    border-radius: $border-radius-md;
    width: min-content;
    min-width: 40%;
    margin: $spacing-xs;
    margin-top: $spacing-lg;
    margin-left: $spacing-lg;
    margin-bottom: $spacing-md;
    padding: $spacing-md;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: $spacing-md;
    flex-wrap: wrap;
}

.submitButton {
    @extend .button;
    @extend .button--primary;

    flex-grow: 0.2;
    padding: $spacing-xs;
    margin: $spacing-md;
    border: none;
    align-self: flex-end;
}

.searchResultsSection {
    background-color: $color-bg-light-s;
    text-align: left;
    border-radius: $border-radius-md;
    margin: $spacing-xs;
    margin-top: $spacing-lg;
    padding: $spacing-xs;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dataLoadingView {
    color: $color-blue;
    border: 1px solid $color-blue;
    display: inline-block;
    padding: $spacing-xs $spacing-md;
    margin: $spacing-md;
}

.dataLoadErrorView {
    border: 1px solid $color-error;
    color: $color-error;
    padding: $spacing-xs $spacing-md;
    margin: $spacing-md;
    display: inline-block;
}

.learningObjectivesSection {
    background-color: $color-bg-light-s;
    margin-top: $spacing-lg;
    padding: $spacing-lg;
}